.details__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 800px;
    margin: 10px auto;
    /* padding: 10px; */ 
}

.details__seperator {
    margin: 15px auto;
    /* padding: 7px; */
    align-items: center;
    text-align: center;
    height: 4px;
    width: 800px;
    background-color: black;
    border: none;
}
