/* .meetingRoom-form {
    width: 590px;
  margin: 27px auto 0;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    margin-left: 80px;
} */

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px; */
}
